.about {
  display: flex; /* Flexbox layout */
  align-items: center; /* Vertically center align text and image */

  margin: 100px 0; /* Optional: add spacing around the container */
}
.about-left {
  max-width: 50%;
}

.about-text {
  flex: 1;
  text-align: justify;
  line-height: 2;
  margin: 0;
}
.about-right {
  margin: 20px 0;
}

.about-image {
  width: 250px;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the box without distortion */
}
button {
  margin-top: 30px;
}

/* mission */
.mission {
  margin: 100px 0;
  display: flex;
  padding-left: 20%;
  padding-right: 10%;
  gap: 30px;
}
/* .mission.about-left {
    display: flex;
    
    align-items: center;
  } */
.mission-about-left {
  margin-top: 50px;
  text-align: center;
}
.mission-about-right {
  border-radius: 30px;
  padding: 30px;
  background: rgb(220, 248, 251);
}
.mission-about-right p {
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
}
.our {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.our1 {
  display: flex;
  justify-content: start;
}
.mission1 {
  font-weight: 800;
  color: rgb(253, 159, 7);
}
.text1 {
  width: 100%;
  font-family: cursive;
  background: #e1e2e3;
  padding: 5%;
}

.container-for-card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* height: 500px; */
  width: 100%;
  background-color: white;
}
.about-card {
  margin: 15px 10px;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  width: 46%; /* Adjust width to leave space for gap */
  height: 250px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  padding: 30px;
  box-sizing: border-box;
}
.for-icon {
  padding: 5px 15px;
  /* padding: 10px; */
  font-size: 40px;
  border: 1px dashed orangered;
  border-radius: 50%;
  background-color: rgb(255, 205, 113);

  color: rgb(255, 115, 0);
}
.for-description {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .for-route {
    margin-top: 200px;

    align-items: center;

    height: 130px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgb(231, 231, 231);
  }
  .about {
    display: flex; /* Flexbox layout */
    align-items: center; /* Vertically center align text and image */

    margin: 30px 0;
  }
  .about-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-img {
    width: 300px;
  }
  .about-right p {
    text-align: justify;
    line-height: 1.5;
    font-size: 12px;
  }
  .about-right h2 {
    font-size: 18px;
    text-align: center;
  }
  .mission {
    display: inline;
    margin: 40px 0;

    padding-left: 5%;
    padding-right: 5%;
  }
  .mission.vision {
    order: 2;
  }
  .mission-about-left {
    margin: 0;
    display: inline-flex;
    gap: 3;
    justify-content: center;
    align-items: center;
  }

  .our,
  .our1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    margin: 0px;
  }

  .about-card {
    margin: 10px 0;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    padding: 30px;
    box-sizing: border-box;
  }
}
