.both-containing {
  width: 100%;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
.course-container-overview {
  width: 65%;
  padding: 30px;
  background-color: white;
  border-radius: 7px;
}

.course-container-overview h1 {
  font-size: 17px;
  color: rgb(20, 32, 43);
  font-weight: 600;
}
.cou-h {
  font-size: 20px;
  margin: 40px 5px;
}

.course-container-overview h3 {
  margin: 30px 10px;
  font-size: 16px;
  color: rgb(92, 165, 233);
  font-weight: 500;
}
.course-container-overview p {
  color: rgb(55, 51, 51);
  margin-top: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
}
/* .for-modal {
  flex-direction: column;
  gap: 5px;
} */

.accordion.accordion1 {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  gap: 0 px;
}
.item1 {
  margin-bottom: 5px;
  padding-top: 0px;
  padding: 0px;
  border: 1px solid rgb(149, 144, 137);
}
.accordion-button.accordion-button1 {
  /* width: 100%; */
  border: 2px solid black;
  margin: 0px 0;
  gap: 10px;

  /* margin: 0;
  padding-top: 0px; */
}
/* .accordion-body.body {
  display: block;
} */

.accordion-body.body ul {
  padding-left: 0;
  margin: 5px 0;
  display: inline-block;
}

.accordion-body.body ul li {
  list-style: disc;
  margin: 5px;
  margin-left: 20px;
  font-size: 15px;
}
.for-form {
  height: max-content;
  width: 33%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* align-items: center; */
}
.for-form .btn {
  width: 70%;
  background: rgb(0, 98, 255);
  margin-top: 10px;
  margin-bottom: 30px;
}

.for-form .btn:hover {
  background-color: aliceblue;
  border: 0.5px solid rgb(43, 138, 247);
  color: rgb(43, 138, 247);
}

.for-form ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  display: block;
  margin-top: 20px;

  padding: 15px 0px;
}
.for-form ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 10px;
}

.duration {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin: 0; */
  gap: 10px;
}

.icon-duration {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 2px 3px;
  border-radius: 50%;
  border: 1px dashed rgba(66, 154, 255, 0.848);
  background-color: rgb(168, 217, 255);
  align-items: center;
  font-size: 30px;
}

.for-form ul li div p {
  font-size: 15px;
  color: rgb(71, 62, 62);
}

.for-form ul li p {
  font-size: 12px;
  color: rgb(9, 120, 239);
}
