.title {
  text-align: center;

  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0 0 30px;
}
.title h2 {
  font-size: 32px;
  font-weight: 700;
  color: #0db5ed;
  text-transform: none;
}
.title p {
  font-size: 16px;
}
@media (max-width: 700px) {
  .title h2 {
    font-size: 20px;
  }
  .title {
    font-size: 12px;
  }
}
