.enroll {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.enroll-left {
  flex-basis: 40%;
}
.enroll-right {
  flex-basis: 40%;
}
.enroll-img {
  width: 140%;
  border-radius: 10px;
}
ol {
  margin-top: 20px;
}
ol li {
  font-size: 20px;
  margin-bottom: 15px;
}

/* media query */
@media (max-width: 800px) {
  .enroll {
    flex-direction: column;
  }
  .enroll-img {
    width: 100%;
  }
  .enroll-left {
    flex-basis: 100%;
    margin: 20px;
    order: 2;
  }
  .enroll-right {
    flex-basis: 100%;
    margin: 20px;
  }
}
