.about {
  flex-wrap: wrap;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.about-left {
  flex: 1 1 200px;
  padding-left: 30px;
  flex-basis: 45%;
}
.about-right {
  flex-wrap: wrap;
  flex-basis: 40%;
  padding-right: 30px;
}

.about-text {
  font-size: 16px;
  padding: 5px;
  flex: 1 1 200px;
  /* text-indent: 40px; */
}
.about-img {
  width: 110%;
  border-radius: 10px;
}

/* media query */
@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .about-img {
    width: 100%;
  }
  .about-left {
    flex-basis: 80%;
    margin: 20px;
    order: 2;
  }
  .about-right {
    padding: 5px;
    margin: 20px;
  }
  .about-text {
    padding: 10px;
  }
}
