/* Fix the nav element */
nav {
  width: 100%;
  /* background: rgb(27, 117, 147); */
  color: #1a588a;
  padding: 4px 0;
  /* height: 100px; */

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  z-index: 100;
  /* top: 90px; */
  left: 0;
  /* margin-bottom: 0px; */
}

nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style individual list items */
nav ul li {
  display: inline-block;
  /* justify-content: center; */
  list-style: none;
  margin: 5px 5px;
  font-size: 16px;
  padding: 10px;
  font-weight: 700;
  border-radius: 7px;
}
nav ul li:hover {
  color: rgb(58, 58, 129);
  background-color: rgb(255, 255, 255);
}
.dark-nav {
  background: #1a588a;
  color: #fff;
  transition: 0.5;
}
.icon-big {
  background: none;
  /* width: 34px; */
}
.menu-icon {
  width: 40px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  display: none;
}

/* media query */
@media (max-width: 1000px) {
  /* .logo {
    width: 140px;
  } */
  nav ul li {
    margin: 10px 15px;
  }
}
@media (max-width: 840px) {
  nav {
    padding: 25px 0;
  }
  nav ul {
    width: 205px;
    height: 100%;
    margin-right: 0px;
    position: fixed;
    top: 0;
    right: 0;
    /* left: 0; */
    bottom: 0;
    padding: 0;
    background: #1a588a;
    color: #fff;
    /* padding: 10px 0; */
    z-index: -1;
    /* width: 200px; */
    padding-top: 50px;
    transition: 0.5s;
    display: block;
  }
  nav ul li {
    /* font-size: medium; */
    display: block;
    margin: 40px 35px;
  }

  .menu-icon {
    display: flex;
    /* align-items: end; */
    justify-content: left;

    width: 40px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -258px;
  }
}
