.slider-container2 {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider1 {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

/* Each individual slide */
.slidea {
  width: 33.33%; /* Show 3 images at a time */
  height: 400px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; /* Add space between the images */
  flex-shrink: 0; /* Prevent shrinking */
}

/* Image inside the slide */
.slide2 {
  width: 100%;
  height: 90%;
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

/* Left and Right navigation buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px; /* Position the left button */
}

.next {
  right: 10px; /* Position the right button */
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* media query */
@media (max-width: 800px) {
  .slidea {
    width: 100%;
    padding: 0 5px;
  }
  .slide2 {
    height: 100%;
  }
}
