/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
/*------------global-----------*/
.containerH {
  max-width: 100%;
  margin: auto;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}

.logo1 {
  width: 240px;
}
.social {
  /* width: 120px; */

  display: flex;
  gap: 5;
}
.icon {
  gap: 3;
  width: 50px;
  line-height: 40px;
  border-radius: 90px;
  text-align: center;
  background-color: rgba(102, 73, 73, 0.3);
  color: #000000;
  transition: 0.5s;
}
.icon:hover {
  background-color: rgb(250, 147, 63);
  cursor: pointer;
  /* color: #0095ff; */
}
.icon.icon-big:hover {
  cursor: pointer;
  color: rgb(6, 118, 6);
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container1 {
  padding-left: 8%;
  padding-right: 8%;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: #1d7ac1;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.carouselMargin {
  margin-top: 180px;
  /* height: 200px; */
}

.btn.dark-btn {
  color: white;
  background: #303ca5;
}
@media (max-width: 1200px) {
  .container1 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    padding: 14px 22px;
  }
}
