/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
/*------------global-----------*/
.containerH {
  max-width: 100%;
  margin: auto;
}

.logo1 {
  width: 240px;
}

/* .icon {
  gap: 3;
  width: 50px;
  line-height: 40px;
  border-radius: 90px;
  text-align: center;
  background-color: rgba(102, 73, 73, 0.3);
  color: #000000;
  transition: 0.5s;
} */
.icon-size-small:hover {
  background-color: orangered;
  cursor: pointer;
  /* color: #0095ff; */
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container1 {
  padding-left: 8%;
  padding-right: 8%;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: #1d7ac1;
  color: #212121;
  padding: 18px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btn.dark-btn {
  color: white;
  background: #1650ff;
}
.btn.dark-btn:hover {
  background-color: white;
  color: #3568ff;
}
@media (max-width: 1200px) {
  .container1 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    padding: 14px 22px;
  }
}
