.card {
  margin: auto;
  width: 16rem;
  /* display: flex; */
  /* align-items: center; */
  justify-content: space-between;
}
.card img {
  object-fit: cover; /* Ensures that the image takes up the card space without distortion */
  height: 10rem; /* Set a fixed height for the image so it doesn’t stretch */
}
.card img:hover {
  transition: transform 0.5s ease;
  transform: scale(0.8) translate(3px, 5px);
}

/* .cardDisplay {
  display: flex;
  gap: 15;
} */

.courseBtn {
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(10, 109, 148);
  color: white;
  border: none;
}
.courseBtn:hover {
  cursor: pointer;
  background-color: #20016f6c;
}
.card-title {
  margin: auto;
  font-size: 12px;
  padding: 4px;
}
.courseTitle {
  padding: 2px;
  color: rgb(31, 31, 216);
  font: bold;
  font-size: large;
}
/* .rowMargin {
  margin-bottom: -70px;
} */

.seemore {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -40px;
  margin-bottom: 50px; */
}
.btn.dark-btn.viewclasses {
  background-color: rgb(123, 184, 220);
}
.btn.dark-btn.viewclasses:hover {
  background-color: hsl(232, 100%, 65%);
  color: white;
}
/* .program img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.program {
  flex-basis: 50%;
} */
/* media query */
@media (max-width: 650px) {
  .courses {
    flex-direction: column;
  }
  .course {
    flex-basis: 100%;
    margin: 20px;
  }
  .card {
    /* margin-left: 50px; */
    /* width: 20rem; */
    margin: 10px;
  }
  .rowMargin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    /* display: block; */
  }
  .upcard {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    flex: 1 2 200px;
    justify-content: center;
  }
}
